numpy
scipy
pandas>=2.0
geopandas
shapely
yaml
psycopg2
sqlalchemy>=2.0
geoalchemy2
ipython
jupyterlab
matplotlib
plotly
jupyter-book
ghp-import
dash
dash_boostrap_components
sshtunnel
geoprivacy
folium
haversine